.topicLinkContainer {
    margin-top: 0.2em;
}

.topicLink {

    font-family: 'Roboto Mono', monospace;
    font-size: medium;
    color:#fff;
    text-decoration: none !important;
    cursor: pointer;
}

.topicLink:hover {
    border-bottom: solid 1px #00ffff;
}

.links_tile_title {
    color: #00ffff;
    margin: 0;
    font-variant: all-small-caps;
}