.slideContainer {
	margin: 1em 4em;
}

.circle256 {
	border-radius: 16px;
	background-color: #1e1e1e;
	width: 30vw;
  }

  .circle256 {
	border-radius: 16px;
	background-color: #1e1e1e;
  }

  @media (max-width:1200px) {
	.circle256 {
	  width: 50vw;
	}
}

@media (max-width:1000px) {
	.circle256 {
	  width: 90vw;
	}
}

