.profileSizeContainer {
	display: flex;
	justify-content: center;
}


.profileSize {
	text-align: center;
	min-width: 256px;
    min-height: 256px;
    margin-left: 1em;
    position: relative;
}

.profile {
    border-radius: 50%;
    border: 10px solid #b33535;
    outline: 15px solid #3c3d4442;
}


/* media queries */
@media (max-width: 1000px) {
	.profileSizeContainer{
		display: flex;
		flex-direction: column;
		justify-content: left;
		align-items: center;
	  }
	.hello {
		text-align: center;
	}

	.role {
    	position: static;
	}
}
