.profileSizeIntro {
	display: flex;
	justify-content: center;
	flex-direction: row-reverse;
}

.profileSizeContainer {
	margin-top:10em;
	margin-bottom:10em;
}

.hello{
	max-width: 700px;
	font-size: 2em;	
}

.hello h1 {
	margin: 0;
}
.hello div {
	margin: 0;
}
.hello span {
	color: red;
}
.role {
	font-size: large;
    top: -26px;
    left: 40px;
    color: lightgrey;
    position: absolute;
}

@media (max-width: 1000px) {
	
	.profileSizeContainer {
		margin-top:5em;
		margin-bottom:2em;
	}

	.profileSizeIntro{
		display: flex;
		flex-direction: column;
		justify-content: left;
		align-items: center;
	  }
	.hello {
		text-align: center;
	}

	.role {
    	position: static;
	}
}
