
.postItem {
    border: solid 1px rgb(49, 49, 48);
    margin: 0.5em;
    box-shadow: 0 10px 30px -15px grey;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    background-color: #000000;
    background-repeat: no-repeat;
    background-size: cover;
    border-radius: 20px;
    flex:0 0 40%;
	height: 35vh;
	position: relative;
}

@media (min-width: 1200px) {
    .postItem {
        flex:0 0 30%;
    }
}

@media (max-width: 800px) {
    .postItem {
        flex:0 0 100%;
    }
}

.linkhand {
    cursor: pointer;
}

.posttitle {
    font-size: large;
    line-height: 1.1;
    text-decoration: none;
    display: inline-block;
    text-align: center;
    background-color: #0000002e;
    color: white;
    border-radius: 20px 20px 0 0;
    padding: 0;
    margin: 0 auto;
    width: 100%;
}

.postdate {
	background-color: #00000052;
    padding: 0.1em 0.8em;
    right: 0;
    bottom: 0;
    position: absolute;
    border-radius: 5px 0 25px 5px;
    color: white;
}

/* Used by post itself */

.postHeadImage {
    height: 30vh;
}

.takeaway {
    color: darkred;
}



/*Override remark highlight parameters */ 

.remarkHighlight  pre[class*='language-'],
.remarkHighlight  code[class*='language-'] {
    font-size: 0.95em !important;
    line-height: 1.0 !important;
    width: 50vw !important;
    overflow: auto !important;
    border-radius: 20px;
    box-shadow: 12px 6px 17px -15px grey;
}

