.dialog {
  width: 90vw;
  height: 85vh;
  border-radius: 8px;
  border: 1px solid #888;
}

.buttons {
  display: flex;
  gap: 20px;
}

.swiper {
  width: 100%;
  height: 100%;
}

.swiper-slide {
text-align: center;
font-size: 18px;

/* Center slide text vertically */
display: flex;
justify-content: center;
align-items: center;
}

.swiper-slide img {
display: block;
width: 100%;
height: 100%;
object-fit: cover;
}

.parallax-bg {
position: absolute;
left: 0;
top: 0;
width: 130%;
height: 100%;
background-size: cover;
background-position: center;
}