.send_successful_message, .send_failed_message {
	color: green;
	font-size: 1.5em;
	font-weight: 600;
	margin: 7px;
	display: none;
}

.send_failed_message {
	color: red;
}

.form {
	box-sizing: border-box;
	width: 40vw;
  }
  
  .inputContainer {
	width: 100%;
	height: 50px;
  }
  
  .ic1 {
	margin-top: 40px;
  }
  
  .ic2 {
	margin-top: 30px;
  }
  
  .input, .textarea {
	background-color: #303245;
	border-radius: 12px;
	border: 0;
	box-sizing: border-box;
	color: #eee;
	font-size: 18px;
	height: 100%;
	outline: 0;
	padding: 4px 20px 0;
	width: 100%;
}

  .cut {
	background-color: #151616;
	border-radius: 10px;
	height: 20px;
	left: 20px;
	position: absolute;
	top: -20px;
	transform: translateY(0);
	transition: transform 200ms;
	width: 6em;
  }
  
.input:focus ~ .cut, .input:not(:placeholder-shown) ~ .cut, 
.textarea:focus ~ .cut, .textarea:not(:placeholder-shown) ~ .cut {
	transform: translateY(8px);
}
  
.placeholder {
	color: #65657b;
	font-family: sans-serif;
	left: 20px;
	line-height: 14px;
	pointer-events: none;
	position: absolute;
	transform-origin: 0 50%;
	transition: transform 200ms, color 200ms;
	top: 20px;
	width: 6em;  			/* must be the same as .cut */
	text-align: center;		/* be centered in .cut */	
  }
  
  .input:focus ~ .placeholder, .input:not(:placeholder-shown) ~ .placeholder, 
  .textarea:focus ~ .placeholder, .textarea:not(:placeholder-shown) ~ .placeholder
  {
	transform: translateY(-30px) translateX(10px) scale(0.75);
  }
  
  .input:not(:placeholder-shown) ~ .placeholder,
  .textarea:not(:placeholder-shown) ~ .placeholder {
	color: #808097;
  }
  
  .input:focus ~ .placeholder,
  .textarea:focus ~ .placeholder {
	color: #f1e213;
  }
  
  /*
  https://developer.mozilla.org/en-US/docs/Web/CSS/:placeholder-shown
  */

  .getintouch {
	border-radius: 16px;
	background-color: #1e1e1e;
	width: 30vw;
  }

  .getintouch {
	border-radius: 16px;
	background-color: #1e1e1e;
  }

  @media (max-width:1400px) {
	  .getintouch {
		width: 40vw;
	  }
	  .form {
		width: 50vw;
	  }
  }

  @media (max-width:1200px) {
	.getintouch {
	  width: 40vw;
	}
	.form {
		width:60vw;
	  }
}

  @media (max-width:960px) {
	.getintouch {
	  width: 60vw;
	}
	.form {
		width:70vw;
	  }
}



@media (max-width:800px) {
	.getintouch {
	  width: 90vw;
	}
	.form {
		width: 90vw;
	  }
}
