/* @font-face{ src: url("https://fonts.googleapis.com/css?family=Montserrat"); font-family: 'Montserrat'; } */
@font-face{src: url("https://fonts.googleapis.com/css?family=Open+Sans"); font-family: 'Open+Sans';}

html,
body {
  padding: 0;
  margin: 0;
  font-family: 'Open Sans', Segoe UI, Roboto, Oxygen, Ubuntu, Cantarell, Fira Sans, Droid Sans, Helvetica Neue, sans-serif;
  line-height: 1.6;
  font-size: 18px;
  background-color: #151616;
  color: white;
}

html {
  scroll-behavior: smooth;
}

h1,h2,h3 {
  font-family: 'Montserrat', sans-serif
}  


* {
  box-sizing: border-box;
}

a {
  color: #0070f3;
  text-decoration: none;
}

a:hover {
  text-decoration: underline;
}

img {
  max-width: 100%;
  display: block;
}

.overflowhidden {
  overflow: hidden;
}

/* LAYOUTS */

.flexcenter {
  display: flex;
  justify-content: center;
}


.flexcentercolunn {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.flexcenterwrap {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
}

.flexleft {
  display: flex;
  justify-content: left;
}


.flexleftcolunn {
  display: flex;
  flex-direction: column;
  justify-content: left;
}


.flexspacearound {
  display: flex;
  justify-content: space-around;
  align-items: center;
}

.flexcentercolumn {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.halign {
  text-align: center;
}

.relative {
  position: relative;
}

/* MARGIN SECTION */ 

.margintop35 {
  margin-top:3.5em !important;
}

.marginleft1em {
  margin-left: 1em;
}




/* WIDTHS */

.vw10 {
  width: 10vw;
}

.vw20 {
  width: 20vw;
}

.vw30 {
  width: 30vw;
}




/* LINKS */

.glink { 
  display: block;
}

.glinkwhite { 
  display: block;
  color: lightgrey;
}

.glink:hover {
  text-decoration: none;
}





/* HR */

.hr-fade {
  border: 0;
  height: 1px;
  width: 100%;
  color: #595b5c;
  background-image: linear-gradient(90deg,transparent,#595B5C 50%,transparent 100%);
  margin: 1.5em;
}


/* GIHUB GIST */

.render-viewer {
  width: 80vw !important;
  height: 550px !important;
  padding: 0.5em;
}


/* PROFILE */

.profileSizeContainer {
  display: flex;
  justify-content: left;
}

.profileSize {
	text-align: center;
	min-width: 256px;
    min-height: 256px;
    margin-left: 1em;
    position: relative;
}

.profile {
    border-radius: 50%;
    border: 10px solid #b33535;
    outline: 15px solid #3c3d4442;
}

@media (max-width: 1000px) {
  .profileSizeContainer{
    display: flex;
    flex-direction: column;
    justify-content: left;
    align-items: center;
  }

}



.whoami__title {
  font-size: 1.5rem;
  font-weight: 700;
  font-family: montserrat,sans-serif;
  margin-bottom: 0.5rem;
  padding-bottom: 0.5rem;
}

.whoami__desc {
  font-size: 1rem;
  padding-left: 0.25rem;
}






/* BUTTONS  */

.blue-button {
  display: inline-block;
  background-image: linear-gradient(-180deg, #37AEE2 0%, #1E96C8 100%);
  border-radius: .5rem;
  box-sizing: border-box;
  color: #FFFFFF;
  font-size: 24px;
  padding: 1rem 1.75rem;
  margin: 0.5em 1em;
  text-decoration: none;
  border: 0;
  cursor: pointer;
  user-select: none;
  -webkit-user-select: none;
}

.blue-button:hover {
  background-image: linear-gradient(-180deg, #1D95C9 0%, #17759C 100%);
  text-decoration: none; 
}

.prism-copy-button {
  position: absolute;
  top: 10px;
  right: 16px;
  background-color: rgb(0 0 0 / 0%);
  color: rgb(0, 0, 0);
  cursor: pointer;
  border-radius: 8px;
  font-size: x-large;
  border: solid 1px #787676;
  padding: 0.2em;
}

.prism-copy-button[disabled] {
  cursor: default;
}

.shine {
  border: solid 1px goldenrod;
}



/* COLORS */

.colorGold {
  color: gold;
}

.colorGrey {
  color: lightslategray;
}





/* TEXT */

.underline { 
  text-decoration: underline;
  text-decoration-style: double;
}

.capitalize { 
  text-transform: uppercase;
}

.italic { 
  font-style: italic;
}

.bolder {
  font-weight: bolder;
}


/* ANIMATIONS */

.bounce-in {
  animation: bounce-in 2s ease;
}
.fade-in-down {
  animation: fade-in-down 2s ease;
}

.roll-in {
  animation: roll-in 1.2s ease;
}

@keyframes bounce-in {
  0% {
    opacity: 0;
    transform: scale(.3);
  }
  50% {
    opacity: 1;
    transform: scale(1.05);
  }
  70% { transform: scale(.9); }
  100% { transform: scale(1); }
}

@keyframes fade-in-down {
  0% {
    opacity: 0;
    transform: translateY(-100px);
  }
  50% {
    opacity: 0.7;
    transform: translateY(-20px);
  }
  100% {
    opacity: 1;
    transform: translateY(0);
  }
}

@keyframes roll-in {
  0% {
    opacity: 0;
    transform: translateX(-100%) rotate(-120deg);
  }
  100% {
    opacity: 1;
    transform: translateX(0px) rotate(0deg);
  }
}
